{% extends "main/base.html" %}

{% block content %}

<h1 class="govuk-heading-xl">Create new booking</h1>

<form action="{% url "main:booking-create-initial" %}" method="post">
    {% csrf_token %}

    {% include "main/govuk_form_errors.html" %}

    {% if not for_myself %}
    {% include "main/govuk_form_field.html" with field=form.on_behalf_of_name hide_label=True %}
    {% include "main/govuk_form_field.html" with field=form.on_behalf_of_dit_email hide_label=True %}
    {% endif %}

    {% include "main/govuk_form_field.html" with field=form.booking_date %}
    {% include "main/govuk_form_field.html" with field=form.building hide_label=True %}
    {% include "main/govuk_form_field.html" with field=form.directorate hide_label=True %}

    <input type="submit" value="Continue" class="govuk-button"/>
</form>

{% endblock %}
