{% extends "main/base.html" %}

{% block content %}

<h1 class="govuk-heading-xl">Create new booking</h1>

<dl class="govuk-summary-list govuk-summary-list">
    {% if on_behalf_of %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        On behalf of
      </dt>
      <dd class="govuk-summary-list__value">
        {{ on_behalf_of }}
      </dd>
    </div>
    {% endif %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date
      </dt>
      <dd class="govuk-summary-list__value">
        {{ booking_date }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Building
      </dt>
      <dd class="govuk-summary-list__value">
        {{ building }}
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Directorate
      </dt>
      <dd class="govuk-summary-list__value">
          {{ directorate }}
      </dd>
    </div>
  </dl>


<form action="{% url "main:booking-create-finalize" %}" method="post">

    {% csrf_token %}

    {% include "main/govuk_form_errors.html" %}

    {% include "main/govuk_form_field.html" with field=form.floor hide_label=True %}
    {% include "main/govuk_form_field.html" with field=form.confirmation hide_label=True %}

    <input type="submit" value="Book" class="govuk-button"/>

    </form>

{% endblock %}
