{% extends "main/base.html" %}

{% block content %}

<h1 class="govuk-heading-xl">Create new Personal Risk Assessment form</h1>

<p class="govuk-body">You must be a line manager and have had a discussion about this risk assessment with the member of staff or contractor, in line with the <a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/guidance/coronavirus-covid-19-advice/returning-to-dit-offices/">returning to the office guidance.</a></p>

<p class="govuk-body">After you submit the form:
    <ul class="govuk-list govuk-list--number">
        <li>The member of staff will be asked to confirm the accuracy</li>
        <li>If they agree, the nominated Senior Civil Servant will be asked to approve.</li>
        <li>You and the member of staff will be informed of their decision</li>
    </ul>
</p>

<p class="govuk-body"><a href="https://dbis.sharepoint.com/:b:/s/doc/EVEQqmGamf1KkmfLyUZeB-UBDluQl7VOBQHcY-hK-l1-sg?e=5vnyNz">Privacy notice</a>. If you cannot access the privacy notice, please contact <a href="mailto:opscentre@trade.gov.uk">opscentre@trade.gov.uk</a> to request a copy</p>

<form action="{% url "main:pra-create-initial" %}" method="post" novalidate>
    {% csrf_token %}

    {% include "main/govuk_form_errors.html" %}

    {% include "main/govuk_form_field.html" with field=form.staff_member_email hide_label=True %}
    {% include "main/govuk_form_field.html" with field=form.scs_email hide_label=True %}
    {% include "main/govuk_form_field.html" with field=form.dit_group hide_label=True %}

    <input type="submit" value="Continue" class="govuk-button"/>
</form>

{% endblock %}
