{% extends "main/base.html" %}

{% block content %}

<h1 class="govuk-heading-xl">Create new booking</h1>

<p class="govuk-body">Date: {{ booking_date }}</p>
<p class="govuk-body">Building: {{ building }}</p>
<p class="govuk-body">Directorate: {{ directorate }}</p>

<form action="{% url "main:booking-create-finalize" %}" method="post">

    {% csrf_token %}

    {% include "main/govuk_form_errors.html" %}

    {% include "main/govuk_form_field.html" with field=form.floor %}
    {% include "main/govuk_form_field.html" with field=form.confirmation hide_label=True %}

    <input type="submit" value="Book" class="govuk-button"/>

    </form>

{% endblock %}
