{% extends "main/base.html" %}

{% block content %}

 <a class="govuk-back-link" href="{% url 'main:booking-create-who-for' %}?back=1">Back</a></p>

<h1 class="govuk-heading-xl">Create new booking</h1>

<h2 class="govuk-heading-l">Lateral flow test</h2>

<p class="govuk-body">We encourage anyone going into an office and who does not have symptoms of COVID-19 to <a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/guidance/coronavirus-covid-19-advice/returning-to-dit-offices/#covid-19-testing" class="govuk-link">get a lateral flow test</a>.</p>

<p class="govuk-body">If you regularly attend the office, from 2 to 5 days a week, we recommend testing twice a week with at least 48 hours between tests.</p>

<p class="govuk-body">If you're attending for an occasional visit, we recommend you get a test on the day of attendance, before attending the office.</p>

<form action="{% url "main:booking-create-initial" %}" method="post" novalidate>
    {% csrf_token %}

    {% include "main/govuk_form_errors.html" %}

    {% if for_myself %}
      {% include "main/govuk_form_field.html" with field=form.confirm_presentation hide_label=True %}
    {% else %}
      {% include "main/govuk_form_field.html" with field=form.on_behalf_of_name hide_label=True %}
      {% include "main/govuk_form_field.html" with field=form.on_behalf_of_dit_email hide_label=True %}
    {% endif %}

    {% include "main/govuk_form_field.html" with field=form.booking_date %}
    {% include "main/govuk_form_field.html" with field=form.building hide_label=True %}
    {% include "main/govuk_form_field.html" with field=form.dit_group hide_label=True %}

    <input type="submit" value="Continue" class="govuk-button"/>
</form>

{% endblock %}
