<div class="govuk-form-group{% if field.errors %} govuk-form-group--error{% endif %}">
    {% if not field.is_hidden and not hide_label %}
    <label class="govuk-label" for="{{ field.name }}">
        {{ field.label }}{% if field.field.required == False %} (optional){% endif %}
    </label>
    {% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <span id="{{ field.name }}-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ error|escape }}
            </span>
        {% endfor %}
    {% endif %}
    {{ field }}
</div>
