{% extends "main/base.html" %}

{% block content %}

<h1 class="govuk-heading-xl">Desk booking system</h1>

<h2 class="govuk-heading-l">Welcome {{ user.first_name }} {{ user.last_name }}</h2>

<p class="govuk-body">If you wish to book a place at Old Admiralty Building, use the <a href="https://app.matrixbooking.com/ui/#/">matrix booking system</a>. For all other buildings, use this system.</p>

<p class="govuk-body">To go into the office, you no longer need a PRA (Personal Risk Assessment) if you are low risk.</p>
<p class="govuk-body">You still need a PRA if you are classed as <strong>amber or red</strong> risk.</p>
<p class="govuk-body">If you are amber or red risk, or are unsure, you should have a PRA discussion with your line manager. If you need a PRA, then it should be reviewed at least every 3 months or if there is a change in your circumstances.</p>
<p class="govuk-body">For more information see the <a class="govuk-link" href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/guidance/coronavirus-covid-19-advice/returning-to-dit-offices/#personal-risk-assessments-pra">guidance on PRAs</a>.</p>

<p class="govuk-body">You must book a desk to enter 3 Whitehall Place or our Bristol office.</p>

<p><a href="{% url 'main:booking-create-who-for' %}"><button class="govuk-button">Create new booking</button></a></p>

<p><a href="{% url 'main:show-bookings' %}"><button class="govuk-button">Show existing bookings</button></a></p>

<h3 class="govuk-heading-m">Personal risk assessments</h3>

{% if recent_pra_link %}
<p class="govuk-body"><a href="{{ recent_pra_link }}"><button class="govuk-button">View your most recent PRA</button></a></p>
{% else %}
<p class="govuk-body">You have no PRAs filed.</p>
{% endif %}

<h4 class="govuk-heading-s">For line managers only</h4>
<p class="govuk-body">Line managers can only create a personal risk assessment for those they manage. Follow the <a href="https://workspace.trade.gov.uk/working-at-dit/policies-and-guidance/returning-to-office-working/">returning to the office guidance</a> for assistance</p>

<p class="govuk-body"><a href="{% url 'main:pra-create-initial' %}"><button
class="govuk-button">Create new personal risk assessment</button></a></p>

{% endblock %}
