{% extends "main/base.html" %}

{% block content %}

<h1 class="govuk-heading-xl">Fix duplicate user / PRA data</h1>

<p class="govuk-body">This page is used to fix duplicate user records and
imported PRAs using the wrong user records.</p>

<form enctype="multipart/form-data" action="{% url "main:pra-fix" %}" method="post" novalidate>
    {% csrf_token %}

    {% include "main/govuk_form_errors.html" %}

    {% include "main/govuk_form_field.html" with field=form.action hide_label=True %}

    <input type="submit" value="Submit" class="govuk-button"/>
</form>

{% if no_problems %}
<p class="govuk-body">No problems found!</p>

{% elif items %}
<table border=1>
<tr>
  <th>Item</th>
  <th>Action</th>
</tr>

{% for item in items %}
<tr>
    <td>{{ item.description }}</td>
    <td>{{ item.action_str }}</td>
  </tr>
{% endfor %}

</table>
{% endif %}

{% endblock %}
