{% extends "main/base.html" %}

{% block content %}

<h1 class="govuk-heading-xl">Personal Risk Assessment</h1>

<div class="govuk-grid-row" style="margin-bottom: 2rem">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
          Form submitted
        </h1>
      <div class="govuk-panel__body">
        Email confirmation(s) have been sent to the relevant parties.
      </div>
    </div>
  </div>
</div>

{% endblock %}
