{% extends "main/base.html" %}

{% block content %}

<h1 class="govuk-heading-xl">Privacy Notice</h1>

<h2 class="govuk-heading-l">The DIT Desk booking service</h2>

<h3 class="govuk-heading-m">The Purpose of this document</h3>

<p class="govuk-body">The Department for International Trade (DIT) is committed
to protecting the privacy and security of your information. This notice
describes how we collect and use your personal information in accordance with UK
Data Protection legislation, including the General Data Protection Regulation
(GDPR) and the Data Protection Act 2018.</p>

<p class="govuk-body">It is important that you read this notice, so that you are
aware of how and why we are using your information.</p>

<h3 class="govuk-heading-m">What personal data we collect</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>User name
  <li>User email address
  <li>User’s Directorate
  <li>Check box &mdash; as self declaration of suitability to return to the office
</ul>

<p class="govuk-body">This is a voluntary collection, by agreeing to the terms
and conditions you are providing consent for this information, where it is
provided, to be collected and processed.</p>

<h3 class="govuk-heading-m">Why we need your data</h3>

<p class="govuk-body">The information you provide will be processed by DIT and
selected third parties in order to manage access to the office in a covid secure
way.</p>

<h3 class="govuk-heading-m">Our legal basis for processing your data</h3>

<p class="govuk-body">The legal basis for collecting this information and
processing your personal data is:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Legitimate interest
</ul>

<h3 class="govuk-heading-m">How we share your information</h3>

<p class="govuk-body">Following collection, strictly no personal identifying
information will be retained outside of those details listed above and
authorised by the projects DPIA. Any identifying information outside of this
will be automatically deleted in the process of storing the data following
collection.</p>

<p class="govuk-body">Aggregated analysis of data collected may be shared with
the Information Commissioner’s Office (ICO) the Government Internal Audit Agency
(GIAA), and the National Audit Office (NAO).</p>

<p class="govuk-body">We will not:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Sell or rent your data to third parties
  <li>Share your data with third parties not detailed in this notice unless legally obliged to do so.
</ul>

<p class="govuk-body">We will also share your data if we are required to do so
by law or regulation – for example, by court order, or to prevent fraud or other
crime.</p>

<h3 class="govuk-heading-m">How long we keep your data</h3>

<p class="govuk-body">We will only retain your personal data for as long as it
is required to fulfil the purpose for which we collected it.</p>

<h3 class="govuk-heading-m">How we protect your data and keep it secure</h3>

<p class="govuk-body">We are committed to doing all that we can to keep your
data secure. We have set up systems and processes to prevent unauthorised access
or disclosure of your data - for example, we protect your data using password
protection, limiting staff access to specifically “Security Cleared”individuals.
All personal data is stored in the European Economic Area (EEA).</p>

<p class="govuk-body">We also make sure that any third parties that we deal with
keep all personal data they process on our behalf secure and in line with Data
Protection legislation.</p>

<h3 class="govuk-heading-m">Your rights and access to your information </h3>

<p class="govuk-body">You have the right to contact DIT and:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Request information about how your personal data is processed.
    <li>Raise an objection about how your personal data is processed.
</ul>

<h3 class="govuk-heading-m">Contacting us</h3>

<p class="govuk-body">If you have any questions about this privacy notice or how
we handle your personal information, you can also write to us at:
<a href="mailto:data.protection@trade.gov.uk">data.protection@trade.gov.uk</a>
</p>

<div class="govuk-inset-text">
The Data Protection Officer for DIT<br>
Department for International Trade<br>
King Charles Street<br>
Whitehall<br>
London, SW1A 2AH<br>
</div>

<p class="govuk-body">You can also make a complaint to the Information
Commissioner, who is an independent regulator.</p>

<div class="govuk-inset-text">
<a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a><br>
Telephone: 0303 123 1113<br>
Textphone: 01625 545860<br>
Monday to Friday, 9am to 4:30pm<br>
<br>
Information Commissioner's Office<br>
Wycliffe House<br>
Water Lane<br>
Wilmslow<br>
Cheshire SK9 5AF<br>
</div>

<h3 class="govuk-heading-m">Changes to this privacy notice</h3>

<p class="govuk-body">We reserve the right to update this privacy notice at any
time and we will provide you with a new privacy notice if we make any
substantial updates.</p>

<p class="govuk-body">The Department for International Trade are registered as a
Data Controller under the General Data Protection Regulation and Data Protection
Act 2018.</p>

{% endblock %}
