{% extends "main/base.html" %}

{% block content %}

{% if show_confirmation %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Desk booking successfully completed.
      </h1>
      <div class="govuk-panel__body">
        An email confirmation has been sent to you.
      </div>
    </div>
  </div>
</div>
{% endif %}

<h1 class="govuk-heading-xl">Your bookings</h1>

<ul class="govuk-list govuk-list--bullet">

{% for b in bookings %}
<li>Date: {{ b.booking_date }}</li>
<ul class="govuk-list govuk-list--bullet">
    {% if b.on_behalf_of %}
    <li>On behalf of: {{ b.on_behalf_of }}</li>
    {% endif %}
    <li>Building: {{ b.building }}</li>
    <li>Floor: {{ b.floor }}</li>
    <li>Directorate: {{ b.directorate }}</li>
    <li>Booked at: {{ b.booked_timestamp }}</li>
</ul>
{% endfor %}

</ul>

{% endblock %}
