{% extends "main/base.html" %}

{% block content %}

{% if show_confirmation or show_cancellation %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        {% if show_confirmation %}
          Desk booking successfully completed.
        {% endif %}
        {% if show_cancellation %}
          Desk booking successfully cancelled.
        {% endif %}
        </h1>
      <div class="govuk-panel__body">
        An email confirmation has been sent to you.
      </div>
    </div>
  </div>
</div>
{% endif %}

<h1 class="govuk-heading-xl">Your upcoming bookings</h1>

<ul class="govuk-list govuk-list--bullet">

{% for b in bookings %}
<li>Date: {{ b.booking_date }}</li>
<ul class="govuk-list govuk-list--bullet">
    {% if b.on_behalf_of_name %}
    <li>On behalf of (name): {{ b.on_behalf_of_name }}</li>
    {% endif %}
    {% if b.on_behalf_of_dit_email %}
    <li>On behalf of (DIT email): {{ b.on_behalf_of_dit_email }}</li>
    {% endif %}
    <li>Building: {{ b.building }}</li>
    <li>Floor: {{ b.floor }}</li>
    <li>Directorate: {{ b.directorate }}</li>
    <li>Booked at: {{ b.booked_timestamp }}</li>
    <li><form action="{% url "main:booking-cancel" pk=b.pk %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Cancel booking" class="govuk-button govuk-button--secondary" data-module="govuk-button"/>
      </form>
</ul>
{% endfor %}

</ul>

{% endblock %}
