{% load main_tags %}

<h1 class="govuk-label-wrapper">
  <label class="govuk-label govuk-label--m" for="{{ widget.name }}">
    {% with field=form_instance.fields|get_obj_index:widget.name %}
      {{ field.label }}
    {% endwith %}
  </label>
</h1>

{% with field=form_instance.fields|get_obj_index:widget.name %}
  {% if field.help_text %}
    <div class="govuk-hint">
    {{ field.help_text }}
    </div>
  {% endif %}
{% endwith %}

<input class="govuk-input" id="{{ widget.name }}" name="{{ widget.name }}" type="text"
{% if widget.value != None %} value="{{ widget.value }}"{% endif %}
{% include "django/forms/widgets/attrs.html" %}
>
